*{
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
color: white;
text-decoration: none;

}

.html {
    background-image: url(./background\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
margin: 0 auto;
max-width: 1030px;
}

.logotype {
   
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    margin-top: 51px;
    margin-bottom: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo-link {
    position: relative;
    display: flex;
    width: 180px;
    height: 51px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 60px;
}

.logo-link:hover .logo-text, 
.logo-link:hover .second-word {
    color: #F26522 ; 
}

.logo-link:hover .hidden {
display: block;
}

.logo-image {
    width: 58px;
    height: 51px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
display: none;
}

.logo-text {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}

.second-word {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.mail:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    color: #F26522
}

.tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.tel:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    color: #F26522
}

.image {
    display: flex;
    flex-wrap: wrap;
    max-width: 1030px;
    height: 560px;
    margin: auto;
    justify-content: space-between;
}

.image1 {
    width: 300px;
    height: 220px;
}

.image1:hover .details{
bottom: 0;

}
.image2 {
    width: 300px;
    height: 210px;
}

.image2:hover .details {
    bottom: 0;
}

.image3 {
    width: 300px;
    height: 220px;
}

.image3:hover .details {
    bottom: 0;
}

.image4 {
    width: 300px;
    height: 220px;
}

.image4:hover .details {
    bottom: 0;
}

.image5 {
    width: 300px;
    height: 220px;
}

.image5:hover .details {
    bottom: 0;
}

.image6 {
    width: 300px;
    height: 220px;
}

.image6:hover .details {
    bottom: 0;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.text:hover {
color: #F26522;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 15px;
}

.image-wrapper {
position: relative;
overflow: hidden;
}

.details {
position: absolute;
left: 0;
right: 0;
bottom: -50px;
background-color: #F26522;
}

.from {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-align: start;
    margin-left: 21px;
}

.price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-left: 16px;
}

.view-details {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: end;
    margin-right: 20px;
}

.view-details::after {
content: "  >";
left: 50%;

}